@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Pending users";
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    <div class="container mt-4">
        <div class="text-center mb-4">
            <table class="table table-hover table-striped table-bordered shadow-sm">
                <thead class="thead-light">
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.ApprovalStatus</td>
                            <td>
                                <form method="post" action="@Url.Action("ApproveOrReject", "Account")">
                                    <input type="hidden" name="userId" value="@user.Id" />
                            
                                    <button type="submit" class="btn btn-success" name="action" value="approve">Approve</button>
                                    <button type="submit" class=" btn btn-sm btn-danger" name="action" value="reject">Reject</button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
}

