@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Pending users";
}

<div class="delivary-form">
    <h2>Pending Users</h2>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.ApprovalStatus</td>
                    <td>
                        <form method="post" action="@Url.Action("ApproveOrReject", "Account")">
                            <input type="hidden" name="userId" value="@user.Id" />
                            
                            <button type="submit" class="btn btn-success" name="action" value="approve">Approve</button>
                            <button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

