@using Delivery_System__Team_Enif_.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    <div class="container mt-4">
        <div class="text-center mb-4">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
            <table class="table table-hover table-striped table-bordered shadow-sm">
                <thead class="thead-light">
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var roles = await UserManager.GetRolesAsync(user);
                        var roleNames = string.Join(", ", roles);
                        var status = user.isActive ? "Active" : "Inactive";

                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@status</td>
                            <td>@roleNames</td>
                            <td>
                                <form method="post" action="@Url.Action("ActivateOrDeactivateUser", "Account")">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    @if (user.isActive)
                                    {
                                        <button type="submit" class="btn btn-sm btn-danger" name="action" value="0">De-Activate</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success" name="action" value="1">Activate</button>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    {
    var url = Url.Action("Users", "Account");
    }
    <script>
        window.location.href = "url";
    </script>

}

