@model DeliveryViewModel

@{
    ViewData["Title"] = "Delivery Details";
    var isAdmin = User.IsInRole("Admin");
    var isOfficeAssistant = User.IsInRole("Office assistant");
}

@if (isAdmin || isOfficeAssistant)
{
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
                <h4 class="display-4 text-center text-primary">Delivery Details</h4>
        </div>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Package Number</dt>
                <dd class="col-sm-10">@Model.PackageId</dd>

                <dt class="col-sm-2">Courier</dt>
                <dd class="col-sm-10">@Model.CourierName</dd>

                <dt class="col-sm-2">Pickup Time</dt>
                <dd class="col-sm-10">@Model.PickupTime.ToString("g")</dd>

                <dt class="col-sm-2">Delivery Time</dt>
                <dd class="col-sm-10">@Model.DeliveryTime.ToString("g")</dd>

                <dt class="col-sm-2">Delivery Type</dt>
                <dd class="col-sm-10">@Model.DeliveryTypeName</dd>

                <dt class="col-sm-2">Delivery Option</dt>
                <dd class="col-sm-10">@Model.DeliveryOptionName</dd>

                <dt class="col-sm-2">Delivery Status</dt>
                <dd class="col-sm-10">@Model.DeliveryStatusName</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-list"></i> Back</a>
        </div>
    </div>
}
else
{
    {
        var url = Url.Action("Users", "Account");
    }
<script>
    window.location.href = "url";
</script>

}