@model PackageViewModel

@{
    ViewData["Title"] = "Deliveries";
}

<div class="container mt-4">
    <table class="table table-hover table-striped table-bordered shadow-sm">
        <thead class="thead-light">
            <tr>
                <th>
                   ID
                </th>
                <th>
                    Delivery Option
                </th>
                <th>
                    Delivery Type
                </th>
                <th>
                    Status
                </th>
                <th>
                    Delivery Date
                </th>  
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Packages) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryOption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                
                <td>
                    <div>
                            <button asp-action="Edit" asp-route-id="@item.Id">Edit</button> |
                            <button asp-action="Details" asp-route-id="@item.Id">Details</button> |
                            <button asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                    </div>
                    
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>