@model DeliveryViewModel

@{
    ViewData["Title"] = "Deliveries";
    var isAdmin = User.IsInRole("Admin");
    var isOfficeAssistant = User.IsInRole("Office assistant");
}

@if (isAdmin || isOfficeAssistant)
{
    <div class="container mt-4">
        <div class="text-center mb-4">
            <a asp-action="Create" class="btn btn-lg btn-primary btn-grey">
                <i class="fas fa-plus"></i>New Delivery
            </a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <table class="table table-hover table-striped table-bordered shadow-sm">
            <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.PackageId)</th>
                <th>@Html.DisplayNameFor(model => model.CourierName)</th>
                <th>@Html.DisplayNameFor(model => model.PickupTime)</th>
                <th>@Html.DisplayNameFor(model => model.DeliveryTime)</th>
                <th>@Html.DisplayNameFor(model => model.DeliveryOptionName)</th>
                <th>@Html.DisplayNameFor(model => model.DeliveryTypeName)</th>
                <th>@Html.DisplayNameFor(model => model.DeliveryStatusName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deliveries)
            {
                <tr>
                    <td>@item.PackageId</td>
                    <td>@item.Courier?.Name</td>
                    <td>@item.PickupTime.ToString("g")</td>
                    <td>@item.DeliveryTime.ToString("g")</td>
                    <td>@item.DeliveryOption?.Name</td>
                    <td>@item.DeliveryType?.Name</td>
                    <td>@item.DeliveryStatus?.Name</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    {
        var url = Url.Action("Users", "Account");
    }
<script>
    window.location.href = "url";
</script>

}