@model PackageViewModel

@{
    ViewData["Title"] = "Delete Package";
    var isAdmin = User.IsInRole("Admin");
    var isOfficeAssistant = User.IsInRole("Office assistant");
}

@if (isAdmin || isOfficeAssistant)
{
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="display-6 text-center text-danger">Are you sure you want to delete the package?</h6>
        </div>
        <div class=" card-body">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SenderName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SenderName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RecipientName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RecipientName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryOptionSelected)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryOptionSelected)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryTypeSelected)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DeliveryTypeSelected)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryStatusSelected)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryStatusSelected)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryDate)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-list"></i>Cancel
            </a>
        </form>
    </div>
    </div>
}
