@using Delivery_System__Team_Enif_.Models
@model PackageViewModel

@{
    ViewData["Title"] = "Package Information";
    var isAdmin = User.IsInRole("Admin");
    var isOfficeAssistant = User.IsInRole("Office assistant");
    var isUser = User.IsInRole("User");
}

@{
<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="display-4 text-center text-primary">Package Information</h4>
    </div>

    <div class="card-body">
            <div class="form-group">
                <span><strong>Package Number:</strong> @Model.Id</span>
            </div>

            <div class="form-group">
                <div class="form-text small d-flex justify-content-between">
                    <span><strong>Created By:</strong> @Model.CreatedByUser</span>
                    <span><strong>Created Date:</strong> @Model.CreatedDate</span>
                </div>
            </div>
            <div class="form-group">
                <span class="form-control">@Model.DeliveryStatusSelected</span>
            </div>
            <table class="table table-hover table-striped table-bordered shadow-lg">
                <tbody>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.SenderName)</strong></td>
                        <td>@Html.DisplayFor(model => model.SenderName)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.SenderAddress)</strong></td>
                        <td>@Html.DisplayFor(model => model.SenderAddress)</td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.RecipientName)</strong></td>
                        <td>@Html.DisplayFor(model => model.RecipientName)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.RecipientAddress)</strong></td>
                        <td>@Html.DisplayFor(model => model.RecipientAddress)</td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Length)</strong></td>
                        <td>@Html.DisplayFor(model => model.Length)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Width)</strong></td>
                        <td>@Html.DisplayFor(model => model.Width)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Hight)</strong></td>
                    <td>@Html.DisplayFor(model => model.Hight)</td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Weight)</strong></td>
                        <td>@Html.DisplayFor(model => model.Weight)</td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.OfficeSelected)</strong></td>
                        <td>@Html.DisplayFor(model => model.OfficeSelected)</td>
                    </tr>

                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.DeliveryOptionSelected)</strong></td>
                        <td>@Html.DisplayFor(model => model.DeliveryOptionSelected)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.DeliveryTypeSelected)</strong></td>
                        <td>@Html.DisplayFor(model => model.DeliveryTypeSelected)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.DeliveryDate)</strong></td>
                        <td>@Html.DisplayFor(model => model.DeliveryDate)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer text-center">
            @if (isAdmin || (Model.CurrentUserId == Model.CreatedByUserId) || isOfficeAssistant)
            {
                <a asp-controller="Package" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Edit
                </a>
            }
            <a asp-controller="Package" asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-list"></i> Back
            </a>
        </div>
</div>
}
