@model PackageViewModel

@{
    ViewData["Title"] = "Packages";
    var isAdmin = User.IsInRole("Admin");
    var isOfficeAssistant = User.IsInRole("Office assistant");
}

<div class="delivery-form">
    <h1>Packages</h1>

    <div>
        <a asp-action="Create" class="btn">New Package</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SenderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipientName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DeliveryOption)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in this.Model.Packages) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryOption.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>                    
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (item.DeliveryStatusId == (int)DeliveryStatusEnum.Pending && (isAdmin || isOfficeAssistant) )
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
				</td>
			</tr>
        }
        </tbody>
    </table>
</div>
